@page "/Sample10"
@using BlazorApp1.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.ComponentModel.DataAnnotations;

@* アプリケーションサービス *@
@inject IDbContextFactory<PubsDbContext> DbFactory

<h3>Sample10 : データ入力検証</h3>

<EditForm Model="@vm" OnValidSubmit="@OnEditFormSubmitted">
    <fieldset disabled="@isProcessing">
        <DataAnnotationsValidator />
        <InputText @bind-Value="vm.Count" class="form-text" placeholder="表示する件数を入力してください" />
        <button type="submit">表示</button>
        <ValidationSummary />
    </fieldset>
</EditForm>

<hr />

<div>
    @if (authors.Count() != 0)
    {
        <AuthorsGrid Authors="@authors"></AuthorsGrid>
    }
    else
    {
        <span>データがありません。</span>
    }
</div>

@code {
    private IQueryable<Author> authors = new List<Author>().AsQueryable();
    private ViewModel vm { get; } = new();
    private bool isProcessing = false;

    private async Task OnEditFormSubmitted()
    {
        if (isProcessing) return; // 処理中の場合はなにもせず復帰
        try
        {
            isProcessing = true; // 処理中フラグを立てる

            // 入力された件数を整数に変換。このパース処理が失敗することはないので TryParse() は不要
            int count = int.Parse(vm.Count);

            // データベースからデータを取得
            await using (var pubs = await DbFactory.CreateDbContextAsync()){
                authors = (await pubs.Authors.OrderBy(a => a.AuthorId).Take(count).ToListAsync()).AsQueryable();
	        }
        }
        finally
        {
            isProcessing = false; // 処理中フラグを下ろす
        }
    }

    public class ViewModel
    {
        [Required(ErrorMessage = "件数を入力してください。")]
        [RegularExpression(@"^[1-9]\d*$", ErrorMessage = "1以上の整数値を入力してください。")]
        public string Count { get; set; } = "";
    }
}
